/* nunito-200 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('nunito-v16-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('nunito-v16-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('nunito-v16-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('nunito-v16-latin-200.woff') format('woff'), /* Modern Browsers */
         url('nunito-v16-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('nunito-v16-latin-200.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-regular - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-600 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('nunito-v16-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('nunito-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('nunito-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('nunito-v16-latin-600.woff') format('woff'), /* Modern Browsers */
         url('nunito-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('nunito-v16-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
  }