$back-color: #fff;
$back-white: #fff;
$primary-color: #003cb2;
$border-color: #a6b5cc;
$border-light: #ebeef6;
$primary-font-color: #0c2954;
$secondary-font-color: #a6b5cc;
$third-font-color: #5c6f8c;
