.table-container {
  margin-top: 30px;

  .title {
    color: #5c6f8c;
    font-size: 16px;
  }

  .pagination {
    .page-item {
      .page-link {
        border: none;
        color: #0c2954;
      }

      &.active {
        .page-link {
          background-color: #fff;
          color: #007bff;
        }
      }
    }
  }
}

.data-table {
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  margin: 0;

  thead {
    th {
      color: #5c6f8c;
      font-size: 14px;
      text-align: left;
    }
  }
  .dt-row {
    display: inline-block;
    justify-content: start;
    align-items: center;
    text-align: left;
    height: 50px;
    margin: 0.5rem;
    padding: 10px;
    color: #0c2954;
    word-break: normal;

    &.breakable {
      word-break: break-all;
    }
    .icon {
      background-repeat: no-repeat;
      background-position: center;
      width: 40px;
      height: 40px;
      border-radius: 5px;

      &.icon-mint-active {
        background-image: url("~@/assets/hammer_primary.png");
        background-color: #d9e8ff;
        height: 36px;
        width: 36px;
      }

      &.icon-mint-past {
        background-image: url("~@/assets/hammer_secondary.png");
        height: 36px;
        width: 36px;
        background-color: #ebeef6;
      }
    }

    .primary {
      color: #287df9;
    }

    .time {
      color: #a6b5cc;
    }

    .link {
      color: #287df9;
    }

    .badge {
      padding: 0.4rem 0.8rem !important;
      font-size: 90% !important;

      svg {
        margin-right: 0.2rem;
      }

      &.badge-primary {
        color: #287df9;
        background-color: #e9f2ff;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .table.b-table.b-table-stacked-lg > tbody > tr > [data-label]::before {
    width: 30% !important;
    padding: 10px !important;
  }
  .table.b-table.b-table-stacked-lg > tbody > tr > [data-label] > div {
    width: calc(100% - 30%) !important;
  }
}
