// GLOBAL COLORS
$color-white: #fff;
$color-body: #1e2221;
$color-error: red;

$color-line: #eceae8;
$color-black-transparent: rgba(27, 31, 35, 0.15);

// fonts color
$color-font-main: #5a5a5a;
$color-font-dim: #ccc;
$color-font-placeholder: #e5e5e5;

$color-line: #e5e5e5;

$color-gray-50: #d1d1d1;
$color-gray-100: #cccccc;
$color-gray-200: #bfbfbf;
$color-gray-300: #adadad;
$color-gray-400: #989898;
$color-gray-450: #808080;
$color-gray-500: #7a7a7a;

// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$blue: #003cb2 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': white,
    'dark': $dark
  ),
  $theme-colors
);
